@mixin horizon-center() {
    display: flex;

    align-items: center;
}

@mixin vertical-center() {
    display: flex;

    justify-content: center;
}

@mixin absolute-center() {
    display: flex;

    justify-content: center;

    align-items: center;
}

@mixin rectangle($width, $height, $radius) {
    display: flex;

    justify-content: center;

    align-items: center;

    width: $width;

    height: $height;

    border-radius: $radius;

    user-select: none;
}

@mixin square($width, $radius) {
    @include absolute-center;

    width: $width;

    height: $width;

    border-radius: $radius;

    user-select: none;
}

@mixin circle($width) {
    @include absolute-center;

    width: $width;

    height: $width;

    border-radius: $width;

    user-select: none;
}

@mixin fill($background-color, $border-color) {
    background-color: $background-color;

    @if ($border-color) {
        border: 1px solid $border-color;
    }
}


