.ev-row {
    display: flex;

    align-items: center;

    height: 28px;

    padding-left: 24px;

    //padding-right: 12px;

    border-bottom: 1px solid #F1F1F1;

    &__key-part {
        display: flex;

        align-items: center;

        flex: 3;

        //margin-right: 20px;
    }

    &__value-part {
        display: flex;

        flex: 4;

        flex-shrink: 0;
    }
}